name: PR on master
on:
  pull_request:
    branches:
      - master
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [13.x, 14.x]
    steps:
      - name: Checkout Libraries
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: git checkout HEAD^
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install environment
        run: npm install
      - name: Run lint
        shell: bash
        run: |
          if [[ $GITHUB_BASE_REF ]]
          then
            export NX_BASE=remotes/origin/$GITHUB_BASE_REF
          else
            export NX_BASE=$(git rev-parse HEAD~1)
          fi
          echo "From Base $NX_BASE"
          npm run format:check -- --base=$NX_BASE
          npm run affected:lint -- --base=$NX_BASE
      - name: Tests coverage
        shell: bash
        run: |
          if [[ $GITHUB_BASE_REF ]]
          then
            export NX_BASE=remotes/origin/$GITHUB_BASE_REF
          else
            export NX_BASE=$(git rev-parse HEAD~1)
          fi
          echo "From Base $NX_BASE"
          npm run affected:test -- --codeCoverage --base=$NX_BASE
